.homeAboutContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-image: url("../../public/images/woodWalpaper1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 60px;
    background-color: rgba(0, 0, 0, 0.5);
}

.aboutHeaderSection{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.562);
}

.aboutHeading{
    flex: 1;
    font-size: 40px;
}

.aboutText{
    flex: 1;
    font-size: 25px;
    color: white;
}

.aboutBody{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    font-size: 20px;
    color: white;
}

.missionAndValues{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.mission{
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(233, 239, 239, 0.644);
    padding: 15px;
    border-radius: 25px;
    min-height: 200px;
}

.values{
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(233, 239, 239, 0.644);
    padding: 15px;
    border-radius: 25px;
    min-height: 200px;
}

#value{
    color:rgb(167, 69, 0);
}

.team{
    width: 100%;
    background-color: #1e1e2f;
    padding: 50px;
}

.teamHeading h1{
    color:#61dafb;
}

.cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}

.teamHeading{
    color: white;
    margin-bottom: 80px;
}

#image{
    width: 200px;
    height: 200px;
}

.individualCard{
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.individualCard p{
    color: gray;
}

.missionBody h1, .valuesBody h1{
    color: saddlebrown
}

.moreAbout{
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(233, 239, 239, 0.644);
    padding: 15px;
    border-radius: 25px;
    min-height: 200px;
}

.makesUsDifferent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e1e2f;
}

.makesUsDifferent h1{
    color: #61dafb;
}

.makesUsDifferent p{
    color: gray;
}

.differenceItem{
    background-color: #61dafb;
    width: 200px;
    height: 200px;
}