.Page {
    display: flex;
    height: 100vh;
    overflow-x: hidden;
}

.sidebar{
    width: 80px;
    transition: width 0.3s ease;
    background-color: #5e5e5e;
    height: 100vh;
    overflow: hidden;
}

.sidebar:hover {
    width: 220px;
}

.sidebar:hover .link-text {
    opacity: 1;
}

.bodyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: #f5f5f5;
    overflow-y: auto;
    overflow-x: hidden;
}
