.homeDesignContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 60px;
    background-image: url("../../public/images/woodWalpaper3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.designHeaderSection {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.562);
}

.designHeading {
    flex: 1.5;
    font-size: 40px;
    display: flex;
    text-align: left;
    margin-left: 50px;
}

.designText {
    flex: 1;
    font-size: 20px;
    font-size: 25px;
    display: flex;
    text-align: left;
}

.designText p {
    color: #ffffff;
}

.designBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
    color: #ffffff;
}

.design-item {
    width: 80%;
    background-color: rgba(185, 186, 187, 0.671);
    /* background-image: url('../../public/images/giraffePrint.jpg');
    background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 220px;
    margin-top: 100px;
    border-radius: 10px;
}

.design-items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding: 40px;
    overflow: hidden;
    flex-wrap: wrap;
}

.design-item.expanded {
    background-color: none;
}

.individual-design-item {
    display: none;
}

.individual-design-item.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 400px;
    max-width: 400px;
    text-align: center;
    opacity: 1;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
}

.individual-design-item.show:hover {
    border: 2px solid gray;
    background-color: rgba(128, 128, 128, 0.425);
}

.individual-design-item h2 {
    color: #1e1e2f;
}

.individual-design-item p {
    color: #2f2f4f;
}

#material {
    font-weight: bold;
}

#img {
    width: 250px;
    height: 200px;
    border-radius: 25px;
}

.expand-indicator {
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}

.processSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 50px;
}

.processSectionHeading {
    margin-top: 50px;
    margin-bottom: 50px;
}

.processItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.individualProcessItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.itemHeading,
.itemDesc,
.itemImage {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img {
    width: 200px;
    height: 150px;
    border-radius: 25px;
}

#img:hover {}

#arrowDown {
    margin-top: 50px;
    font-size: 40px;
    color: rgb(43, 139, 163);
}

.toolsETC {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tools {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.toolsETC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 12.5%);
    padding: 0px 50px 50px 50px;
}

.tools {
    margin-top: 50px;
    margin-bottom: 50px;
}

.toolsBody {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    gap: 20px;
    color: gray;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgba(185, 186, 187, 0.671);
    border-radius: 25px;
    text-align: center;
}

.powerTool,
.handTool,
.materialsUsed {
    width: 90%;
    padding: 15px;
    border-radius: 15px;
}

.powerTool:hover,
.handTool:hover,
.materialsUsed:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.powerTool .expand-indicator,
.handTool .expand-indicator,
.materialsUsed .expand-indicator {
    color: black;
}

.powerToolExpanded,
.handToolExpanded,
.materialsUsedExpanded {
    display: none;
}

.powerToolExpanded.show,
.handToolExpanded.show,
.materialsUsedExpanded.show {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.toolsBody h4 {
    border: 2px solid rgb(170, 170, 170);
}

.moreInfo {
    color: rgb(221, 221, 221);
    margin-bottom: 50px;
}