nav {
  display: flex;
  flex-direction: column;
  padding: 15px ;
}
  
.sidebar h2 {
  margin-bottom: 2rem;
}
  
.nav-link {
  display: flex;
  align-items: center;
  color: #ccc;
  text-decoration: none;
  padding: 12px;
  transition: 0.3s;
  margin-top: 20px;
}

.link-content {
  display: flex;
  align-items: center;
}

.link-text {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease;
}
  
.nav-link:hover {
  color: white;
}
  
.nav-link.active {
  color: white;
  font-weight: bold;
  border-left: 4px solid #61dafb;
  padding-left: 0.75rem;
}

.homeIcon, .aboutIcon, .designIcon, .socialsIcon, .contactIcon, .invoiceIcon{
  font-size: large;
  margin-right: 10px;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}
 
.homeIcon:hover{
  color: red;
}
.aboutIcon:hover{
  color: rgb(58, 162, 248);
}
.designIcon:hover{
  color: orange;
}
.socialsIcon:hover{
  color: rgb(241, 64, 241);
}
.contactIcon:hover{
  color: rgb(0, 0, 0);
}
.invoiceIcon:hover{
  color: gold;
}